.game {
    position: relative;
    text-align: center;
    margin: 20px auto;
    border-radius: 100%;
    border: 10px solid $border-color;
    @media all and (min-width: 768px) {
        border-width: 20px;
    }
    overflow: hidden;
    width: 300px;
    height: 300px;
    @media all and (min-width: 768px) {
        width: 600px;
        height: 600px;
    }
    box-shadow: 0 4px 0 5px #111, 0 8px 12px 5px #222;
}
