@import "_normalize.scss";
$border-color: #333;
@import "_game.scss";
@import "_main-buttons.scss";
@import "_controls.scss";
@import "_error";

body {
    background-image: url('../img/table.jpg');
    background-size: cover;
    height: calc(100vh - 95px);
    min-height: 420px;
    @media all and (min-width: 768px) {
        min-height: 720px;
    }
}

.footer {
    background-color: #333;
    height: 95px;
    position: absolute;
    bottom: 0;
    width: 100%;

    &-buttons {
        text-align: center;
        padding-top: 15px;

        a,
        a:visited {
            color: #222;
        }

        &-code {}
    }

    &-sentence {
        text-align: center;
        margin-bottom: 0;
        color: #eee;

        a,
        a:visited {
            color: lightblue;
        }
    }
}
