<footer class="footer">
    <div class="footer-buttons">
        <a target="_blank" rel="noopener" href="https://github.com/BrentonCozby/simon-game-fcc">
            <button class="footer-buttons-code">
                <i aria-hidden="true" class="fa fa-github"></i> View the Code
            </button>
        </a>
    </div>
    <p class="footer-sentence">&copy; <%= (new Date).getFullYear() %> by Brenton Cozby. View more at <a href="http://brentoncozby.com">BrentonCozby.com.</a></p>
</footer>